.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
