@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/inter.css);

.page {
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  background-color: red;
  color: var(--primary-color);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  --primary-color: #000

}
