@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/inter.css);

.page {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;

  --primary-color: #000;
  --secondary-color: #fff;
  --ghost-color: #e8e8e8;
  --dghost-color: #a0a0a0;
  --lghost-color: #f2f2f2;
  --accent-color: #2BE080;
  --preloader-color: #073042;
  --input-focus-color: #073042;
}
