.search-form {
  width: 100%;
  padding: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.search-form__icon {
  width: 34px;
  height: 34px;
}

.search-form__input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  border-width: 0;
  border-radius: 6px;
  outline: none;
}

.search-form__submit {
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0 16px 0 0;
  flex-shrink: 0;
  border-style: none;
  border-radius: 50%;
  background-color: #3456f3;
  background-image: url(../../images/search-icon.svg);
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.search-form__submit:hover {
  opacity: 0.6;
}

.search-form__divider {
  width: 1px;
  height: 40px;
  margin: 0 40px 0 8px;
  background-color: #cbcbcb;
}

@media screen and (max-width: 800px) {
  .search-form {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 95%;
    margin: 0 auto;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    font-size: 11px;
  }

  .search-form__divider {
    display: none;
  }
}

