.filter-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.filter-checkbox__button {
  width: 36px;
  height: 20px;
  margin: 0;
  margin-right: 12px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--secondary-color);
  cursor: pointer;
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.filter-checkbox__button:hover {
  opacity: 0.6;
}

.filter-checkbox__button_active {
  background-image: url("../../images/checkbox-active.svg");
}

.filter-checkbox__button_inactive {
  background-image: url("../../images/checkbox-inactive.svg");
}

.filter-checkbox__text {
  margin: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox_type_in-form {
  display: flex;
}

.filter-checkbox_type_in-bar {
  display: none;
}

@media screen and (max-width: 600px) {
  .filter-checkbox_type_in-form {
    display: none;
  }

  .filter-checkbox_type_in-bar {
    display: flex;
  }

  .filter-checkbox__text {
    font-size: 11px;
  }
}
