.about-project {
  margin: 0 auto;
  padding: 110px 70px;
  box-sizing: border-box;
  max-width: 1280px;
}

.about-project__cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.about-project__card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__card-description {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__diagram {
  margin-top: 83px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 20% 80%;
}

.about-project__stage-time {
  padding: 9px 0;
  background-color:  var(--lghost-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.about-project__stage-time_type_primary {
  background-color:  var(--accent-color);
}

.about-project__stage-description {
  color: var(--dghost-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
