.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 170px 70px 0;
  box-sizing: border-box;
}

.footer__header {
  padding-bottom: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--dghost-color);
  border-bottom: 1px solid var(--ghost-color);
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 150px 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
