.techs {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 87px 70px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.techs__card {
  margin: 89px auto 0;
  max-width: 460px;
}

.techs__card-title {
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__labels {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.techs__label {
  width: 90px;
  height: 60px;
  padding: 21px 0;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}
