.about-me {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 125px 70px 82px;
  box-sizing: border-box;
}

.about-me__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .about-me__card {
    margin: 0 auto;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about-me__profile {
  margin-top: 61px;
}

.about-me__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__about {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #111;
  mix-blend-mode: normal;
}

.about-me__description {
  margin: 27px 0 164px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
}

@media (max-width: 600px) {
  .about-me__description {
    margin: 27px 0 44px;
  }
}

.about-me__github {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  margin-top: 62px;
  object-fit: cover;
  border-radius: 10px;
}
