.about-me {
  margin: 0 auto;
  max-width: 1280px;
}

.about-me__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #111;
  mix-blend-mode: normal;
}

.about-me__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
}

.about-me__github {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}
