.navtab {
  margin: auto;
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navtab__link {
  box-sizing: border-box;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.navtab__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .navtab {
    gap: 20px;
  }
}
