.navtab {
  margin: auto;
  height: 66px;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navtab__link {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
